@media screen and (max-width: 1490px){
    .nav-container{
        padding: 20px 80px;
    }
}

@media screen and (max-width: 1280px){
    .nav-container{
        padding: 20px ;
    }
}

@media screen and (max-width: 1080px) {
    .nav-logo p{
        font-size: 1.5rem;
    }

    .nav-logo{
        width: 200px;
    }

    .nav-items{
        width: 70%;
    }
}

@media screen and (max-width: 994px) {
    .banner-tittle p{
        text-align: center;
    }

    .selection-container{
        flex-direction: column;
        gap: 24px;
    }

    .selection-container select{
        margin-right: 0;
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        flex-direction: column;
        gap: 20px;
    }

    .nav-logo{
        width: 100%;
        justify-content: center;
        gap: 50px;
    }

    .nav-items{
        width: 100%;
    }

    main{
        margin-top: 190px;
    }
}

@media screen and (max-width: 590px){
    .nav-items ul{
        flex-direction: column;
    }

    .banner-description{
        width: 200px;
    }

    main{
        margin-top: 350px;
    }
}