@media screen and (max-width: 1490px){
    .nav-container{
        padding: 20px 80px;
    }

    .popular-tours-container{
        padding: 0 50px;
    }
}

@media screen and (max-width: 1280px){
    .nav-container{
        padding: 20px ;
    }

    .popular-tours-container{
        padding: 0 20px;
    }
}

@media screen and (max-width: 1080px) {
    .nav-logo p{
        font-size: 1.5rem;
    }

    .nav-logo{
        width: 200px;
    }

    .nav-items{
        width: 70%;
    }

    .popular-tours-container{
        padding: 0;
    }
}

@media screen and (max-width: 994px) {
    .banner-tittle p{
        text-align: center;
    }

    .selection-container{
        flex-direction: column;
        gap: 24px;
    }

    .banner-container{
        margin: 0 auto;
        padding: 70px;
    }

    .selection-container select{
        margin-right: 0;
    }

    .popular-tours-container{
        padding: 0;
        flex-direction: column;
        gap: 14px;
    }

    .popular-tours-left{
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: left;
    }

    .popular-tours-right{
        width: 100%;
        height: 557px;
        background-position: center;
    }

    .popular-tours-left button{
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px){
    .nav-container{
        flex-direction: column;
        gap: 20px;
    }

    .banner-container{
        margin: 0 auto;
        padding: 70px;
    }

    .nav-logo{
        width: 100%;
        justify-content: center;
        gap: 50px;
    }

    .nav-items{
        width: 100%;
    }

    main{
        margin-top: 190px;
    }
}

@media screen and (max-width: 590px){
    .nav-items ul{
        flex-direction: column;
    }
    .banner-description{
        width: 200px;
    }
    .banner-container{
        margin: 0 auto;
        padding: 70px;
    }
    .nav-container{
        flex-direction: column;
    }
}